.total_process_chart {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #e1e6ef;
}

.total_process_chart .panel-heading {
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #374767;
  background-color: #fff;
  border-color: #e4e5e7;
  position: relative;
}
.total_process_chart .panel-body {
  padding: 0 15px 15px;
}
