.main-header {
  position: relative;
  max-height: 120px;
  z-index: 1030;
}
.main-header .logo {
  display: block;
  float: left;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  width: 250px;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
  background-color: #042a4a;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.main-header .logo .logo-mini {
  display: none;
}
.main-header .logo .logo-lg img,
.main-header .logo .logo-mini img {
  height: 42px;
}

.main-header .logo .logo-lg {
  display: block;
}
.main-header .navbar {
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  margin-left: 250px;
  border: none;
  min-height: 60px;
  border-radius: 0;
  background-color: #fff;
  border-bottom: 1px solid #e1e6ef;
}
.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 16px 14px;
  font-family: fontAwesome;
  border-right: 1px solid #e1e6ef;
  color: #374767;
  font-size: 26px;
  line-height: 26px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
  float: right;
  margin-right: 25px;
}
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}
.navbar-nav > li > a {
  padding: 12px 5px;
  position: relative;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}
.navbar-nav > li > a > i {
  border: 1px solid #f2f2f2;
  padding: 6px 3px;
  width: 36px;
  text-align: center;
  color: #374767;
  background-color: #f5f5f5;
  height: 36px;
  font-size: 25px;
}

header .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: unset;
  right: 0;
}

.dropdown button {
  background: #eee !important;
  border: 0;
}

.dropdown button i {
  color: #374767;
}

.navbar .dropdown {
  margin-right: 10px;
}
